p{

color:rgb(229, 238, 198);

font-size: 16pt;

}
body
{
background-color: rgb(141, 141, 221);
background-image: url("obrazek1.webp");
letter-spacing: 1px;    

}    


img{
width:300px;
border:5px;  
color:black;
border-style:solid;


} 

h1{
font-weight: 200;
font-size: 30pt







}
body{
max-width. 800px;
margin_auto

}


