@font-face{
    font-family: "czcionka";
    src: url("DancingFont.ttf");
}

p{

color:rgb(10, 69, 28);
font-size: 16pt;
text-align: justify;
margin-right: 10%;
margin-left: 10%;


}

body
{
    background-color: rgb(141, 141, 221);
    background-image: url("736.jpg");
    background-size: cover;
    background-position: center;
    letter-spacing: 1px;    
}    


img{
    width:300px;
    border:5px;  
    color:black;
    border-style:solid;
} 

h1{
    font-family: "czcionka";
    font-weight: 200;
    font-size: 30pt;
    margin-right: 7%;
    margin-left: 7%;
    
}

body{
max-width. 800px;
margin_auto

}





















